<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="0" >

  <test  name="Test">
  <parameter name="driver.name" value="chromeDriver" />
    <classes>
      <class name="com.testflipkart.scripts.FlipKartOrderVerificationTestPage"/>
    </classes>
  </test> <!-- Test -->
  
 
  
</suite> <!-- Suite -->
<!-- thread-count="5" -->