<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="0" parallel="tests" thread-count="3">

  <test  name="Test">
  <parameter name="driver.name" value="chromeDriver" />
    <classes>
      <class name="com.testflipkart.scripts.FlipKartOrderVerificationTestPage"/>
    </classes>
  </test> <!-- Test -->
  
   <test  name="Test1">
  <parameter name="driver.name" value="firefoxDriver" />
    <classes>
      <class name="com.testflipkart.scripts.FlipKartOrderVerificationTestPage"/>
    </classes>
  </test> 
  
</suite> <!-- Suite -->
<!-- thread-count="5" -->